/* You can override SASS variables here. */

// @import "plugins/dark";

// Override hint colors with Kosli brand palette
$hint-colors: (
  info: #1E55CD,
  warning: #E5BE65,
  danger: #C8463A,
);

:root {
    // Primary Blues
    --blue-050: #0041AF;
    --blue-100: #1E55CD;
    --blue-200: #4B75D9;
    --blue-300: #7293E1;
    --blue-400: #B4C5FF;
    --blue-500: #101C2B;
    // Green - Compliant
    --green-050: #006D43;
    --green-100: #4EAC78;
    --green-200: #59B281;
    --green-300: #7FD9A5;
    --green-400: #CBEADD;
    --green-500: #004126;
    // Red - Error
    --red-050: #A62E25;
    --red-100: #C8463A;
    --red-200: #E07060;
    --red-300: #F0998F;
    --red-400: #FFB4AA;
    --red-500: #690003;
    // Yellow - Warning
    --yellow-050: #775A04;
    --yellow-100: #AE8C35;
    --yellow-200: #E5BE65;
    --yellow-300: #FFDB8B;
    --yellow-400: #FBE6AA;
    --yellow-500: #664C00;
    // Orange - Lifecycle
    --orange-050: #8B4B00;
    --orange-100: #B86500;
    --orange-200: #FF8900;
    --orange-300: #FFB35C;
    --orange-400: #FFD9A8;
    --orange-500: #5C3200;
    // Neutral - Surface system
    --neutral-100: #FFFFFF;
    --neutral-200: #F7F9FC;
    --neutral-300: #E1E2E5;
    --neutral-400: #C5C6CB;
    --neutral-500: #75777B;
    // Black - On Surface system
    --black-100: #1C1B1B;
    --black-200: #575D63;
    --black-300: #8E9195;
    --black-400: #D9D9DD;
    --black-500: #F2F3F6;
}