<!-- Risks -->
<a href="/risks/"><h2 class="area-header">Risks</h2></a>
{{ partial "risk_cards.html" (.Site.GetPage "/risks") }}

<!-- Controls -->
<a href="/controls/"><h2 class="area-header">Controls</h2></a>
{{ range $taxonomy_name, $taxonomy := .Site.Taxonomies }}
  {{ if (eq $taxonomy_name "areas") }}
    {{ with ($.Site.GetPage (printf "/%s" $taxonomy_name)) }}
      {{ range $index, $weightedArea := .Pages.ByWeight }}

        <a href="/controls/{{ with .Page.Params.section }}{{ . }}{{ else }}{{ .Page.Data.Term }}{{ end }}/">
          <h3 class="area-subheader area-{{ .Page.Data.Term }}">{{ .Page.LinkTitle }}</h3>
        </a>

        {{ $term := .Page.Data.Term }}
        {{ with .Site.Taxonomies.areas }}
          {{ range $area, $cards := . }}
            {{ if eq $area $term }}
              <div class="card-row">
                {{ range $index, $card := $cards }}
                  {{ partial "control_card.html" (dict "page" . "area" $term "index" $index) }}
                {{ end }}
              </div>
            {{ end }}
          {{ end }}
        {{ end }}

      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
