<blockquote class="book-hint info">
  Risk ID: {{ .Page.Params.risk_id }}
</blockquote>
<blockquote class="book-hint info">
  {{ .Page.Params.description }}
</blockquote>

<h3>Mapped Controls</h3>
<div class="card-row">
{{ range $index, $mitigation := .Page.Params.mitigations }}
  {{ $page := $.Page.Site.GetPage $mitigation.url }}
  {{ $area := "" }}
  {{ with $page }}
    {{ with .Params.areas }}
      {{ $area = index . 0 }}
    {{ end }}
    {{ partial "control_card.html" (dict "page" $page "area" $area "index" $index) }}
  {{ end }}
{{ end }}
</div>
