{{ $section := .Page.CurrentSection }}
{{ $area := "" }}
{{ range $section.Pages }}
  {{ with .Params.areas }}
    {{ $area = index . 0 }}
  {{ end }}
{{ end }}
<div class="card-row">
  {{ range $index, $page := $section.Pages.ByWeight }}
    <a class="control-card area-{{ $area }} card-index-{{ $index }}" href="{{ $page.RelPermalink }}">
      {{ with $page.Params.control_code }}
      <div class="control-code">{{ . }}:</div>
      {{ end }}
      <div class="control-name">{{ $page.LinkTitle }}</div>
    </a>
  {{ end }}
</div>
